.profile-mobile-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding-block-start: 2rem;
    padding-inline: clamp(1rem, 10vw, 5rem);
    height: 100svh;

    & > span {
        font-weight: 600 !important;
        line-height: clamp(1.75rem, 1vh, 2.25rem);
        font-size: 2rem;
        letter-spacing: -0.06rem;
        margin-block-end: 1rem;
    }

    .profile-user-box {
        padding-inline: 1.5rem;
        padding-block: 2rem;
        box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.02),0px 8px 24px 0px rgba(0,0,0,0.10);
        flex-wrap: nowrap;
        border-radius: 24px;
        font-weight: 700;
        line-height: 2.25rem;
        font-size: 2rem;
        width: 100%;
        min-height: 230px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        letter-spacing: -0.06rem;
        -webkit-tap-highlight-color: transparent;

        img {
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-end;
            align-items: center;
            padding: 2px;
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 50%;

        }

        .profile-mobile-user-avatar-placeholder {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            padding: 2px;
            width: 100px;
            height: 100px;
            object-fit: cover;
            background-color: black;
            color: white;
            border-radius: 50%;
        }
    }

    .profile-option {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        padding-block: 1rem;
        touch-action: manipulation;
        cursor: pointer;
        font-size: clamp(1rem, 1.5vh, 1.2rem);

        svg {
            margin-inline-end: 1rem;

        }
    }
}

.profile-desktop-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    width: 100%;
    height: 100svh;

    aside {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-right: 1px solid $gray6;
        padding: 36px 40px;
        max-width: 350px;
        min-width: 225px;
        width: 100%;
        // flex: 0 0 calc(33.33% + 64px);

        & > span {
            font-weight: 600;
            font-size: 2rem;
            line-height: 2.25rem;
            letter-spacing: -0.06rem;
            padding-block-end: 24px;

        }

        .profile-sidebar-row {
            border-radius: 1rem;
            padding: 10px 16px;
            background-color: transparent;
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.25rem;
            display: flex;
            align-items: center;
            gap: 1rem;
            cursor: pointer;

            &:hover {
                background-color: $secondary-hover-gray;
            }

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                padding: 2px;
                object-fit: cover;
            }

            .profile-desktop-sidebar-user-avatar-placeholder {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: center;
                padding: 2px;
                width: 40px;
                height: 40px;
                object-fit: cover;
                background-color: black;
                color: white;
                border-radius: 50%;
            }
        }

        .profile-sidebar-row.active {
            background-color: $secondary-hover-gray;
        }

        .profile-sidebar-row:nth-of-type(2) img {
            width: 40px;
            height: 40px;
        }

    }

    main {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-height: calc(100vh - 100px);
        padding: 36px 80px;

        & > span {
            padding-block-end: 24px;
            font-size: 2rem;
            line-height: 2.25rem;
            font-weight: 600;
            letter-spacing: -0.06rem;
        }

        .profile-desktop-user-info-box {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            justify-content: center;
            min-width: 104px;
            max-width: 345px;
            align-items: center;
            padding: 36px 24px;
            line-height: 2.25rem;
            font-size: 2rem;
            width: 100%;
            height: 230px;
            letter-spacing: -0.06rem;
            box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.02),0px 8px 24px 0px rgba(0,0,0,0.10);
            flex-wrap: nowrap;
            border-radius: 1.5rem;
            font-weight: 600;

            img {
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                padding: 2px;
                width: 100px;
                height: 100px;
                object-fit: cover;
                border-radius: 50%;

            }

            .profile-desktop-main-user-avatar-placeholder {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: center;
                padding: 2px;
                width: 100px;
                height: 100px;
                object-fit: cover;
                background-color: black;
                color: white;
                border-radius: 50%;
            }
        }

        .profile-desktop-past-trips-box {
            display: block;
            padding-block-start: 36px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            & > img {
                vertical-align: bottom;
                height: 182px;
                width: 182px;
                align-self: center;
                
            }

            span {
                line-height: 1.125rem;
                font-size: 0.875rem;
                text-wrap: pretty;
                text-align: center;
            }

            a {
                border-radius: 0.5rem;
                margin-block-start: 0.5rem;
                font-size: 1rem;
                line-height: 1.125rem;
                padding: 14px 24px;
                font-weight: 500;
                cursor: pointer;
                background-color: $clr1;
                width: fit-content;
                text-align: center;
                color: $clr6;
                -webkit-tap-highlight-color: transparent;
                touch-action: manipulation;
                text-decoration: none;
                display: inline-block;
            }
        }
    }
}